
{
    ApplicationDescription = "Cenon Vector Graphics Editor";
    ApplicationName = Cenon;
    Copyright = "Copyright (C) 1993 - 2013 by vhf-interservice GmbH, Georg Fleischmann";
    NSExecutable = "Cenon";
    NSIcon = "Cenon.tiff";
    NSMainNibFile = "Main";
    NSPrincipalClass = "App";
    NSRole = "Application";
    NSTypes = (
      {
         //NSDocumentClass = ;
         NSHumanReadableName = "Cenon Project";
         NSUnixExtensions = ( "cenon", cen );
         NSDOSExtensions  = ( cen );
         NSIcon = "typeCenon.tiff";
         NSName = "Cenon";
         NSRole = "Editor";
      },
      {
         NSUnixExtensions = ( "dxf" );
         NSIcon = "typeDXF.tiff";
         NSName = "NSTIFFPboardType";
         NSRole = "Viewer";
      },
      {
         NSUnixExtensions = ( "hpgl", "plt", "hgl" );
         NSIcon = "typeHPGL.tiff";
         NSName = "HPGL";
         NSRole = "Viewer";
      },
      {
         NSUnixExtensions = ( "eps", "ps" );
         NSIcon = "typeEPS.tiff";
         NSName = "NSPostScriptPboardType";
         NSRole = "Viewer";
      },
      {
         NSUnixExtensions = ( "din", "drl" );
         NSIcon = "typeDrill.tiff";
         NSName = "DIN";
         NSRole = "Viewer";
      },
      {
         NSUnixExtensions = ( "gerber", "ger" );
         NSIcon = "typeGerber.tiff";
         NSName = "Gerber";
         NSRole = "Viewer";
      },
      {
         NSUnixExtensions = ( "svg" );
         //NSIcon = "typeSVG.tiff";
         NSName = "SVG";
         NSRole = "Viewer";
      },
      {
         NSUnixExtensions = ( "ai" );
         NSIcon = "typeAI.tiff";
         NSName = "Adobe Illustrator";
         NSRole = "Viewer";
      }
    );
    NSVersion = "4.0.2";
}
