<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cenon</string>
				<string>cenon~</string>
				<string>cen</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>typeCenon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Cenon Project</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>eps</string>
				<string>ps</string>
				<string>EPS</string>
				<string>PS</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>typeEPS.icns</string>
			<key>CFBundleTypeName</key>
			<string>NSPostScriptPboardType</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ai</string>
				<string>AI</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>typeAI.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Illustrator 3</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>din</string>
				<string>DIN</string>
				<string>drl</string>
				<string>DRL</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>typeDIN.icns</string>
			<key>CFBundleTypeName</key>
			<string>DIN data</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dxf</string>
				<string>DXF</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>typeDXF.icns</string>
			<key>CFBundleTypeName</key>
			<string>DXF</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gerber</string>
				<string>ger</string>
				<string>GER</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>typeGerber.icns</string>
			<key>CFBundleTypeName</key>
			<string>Gerber</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>hpgl</string>
				<string>hgl</string>
				<string>HGL</string>
				<string>plt</string>
				<string>PLT</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>typeHPGL.icns</string>
			<key>CFBundleTypeName</key>
			<string>HPGL</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>svg</string>
				<string>SVG</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>typeSVG.icns</string>
			<key>CFBundleTypeName</key>
			<string>SVG</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>font</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>typeFont.icns</string>
			<key>CFBundleTypeName</key>
			<string>Type 1 Font</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cut</string>
				<string>CUT</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>typeICut.icns</string>
			<key>CFBundleTypeName</key>
			<string>i-cut</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tiff</string>
				<string>tif</string>
				<string>TIF</string>
				<string>TIFF</string>
				<string>jpg</string>
				<string>jpeg</string>
				<string>gif</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>NSTIFFPboardType</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>tiff</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>png</string>
				<string>PNG</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>NSPasteboardTypePNG</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pdf</string>
				<string>PDF</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>NSPDFPboardType</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Cenon</string>
	<key>CFBundleGetInfoString</key>
	<string>Cenon. Copyright (C) 1992 - 2013 vhf interservice GmbH</string>
	<key>CFBundleHelpBookFolder</key>
	<string></string>
	<key>CFBundleHelpBookName</key>
	<string></string>
	<key>CFBundleIconFile</key>
	<string>Cenon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>de.vhf.Cenon</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string></string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.0.2</string>
	<key>CFBundleSignature</key>
	<string>CENO</string>
	<key>CFBundleVersion</key>
	<string>4.0.2</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.graphics-design</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (C) 1992 - 2013 vhf interservice GmbH</string>
	<key>NSExtensions</key>
	<dict>
		<key>ai</key>
		<dict>
			<key>NSIcon</key>
			<string>ai.tiff</string>
		</dict>
		<key>cenon</key>
		<dict>
			<key>NSIcon</key>
			<string>DocumentIcon.tiff</string>
		</dict>
		<key>cenon~</key>
		<dict>
			<key>NSIcon</key>
			<string>DocumentIcon.tiff</string>
		</dict>
		<key>din</key>
		<dict>
			<key>NSIcon</key>
			<string>drill.tiff</string>
		</dict>
		<key>drl</key>
		<dict>
			<key>NSIcon</key>
			<string>drill.tiff</string>
		</dict>
		<key>dxf</key>
		<dict>
			<key>NSIcon</key>
			<string>dxf.tiff</string>
		</dict>
		<key>eps</key>
		<dict>
			<key>NSNextstepSystemExtension</key>
			<string>YES</string>
		</dict>
		<key>ger</key>
		<dict>
			<key>NSIcon</key>
			<string>gerber.tiff</string>
		</dict>
		<key>gerber</key>
		<dict>
			<key>NSIcon</key>
			<string>gerber.tiff</string>
		</dict>
		<key>hgl</key>
		<dict>
			<key>NSIcon</key>
			<string>hpgl.tiff</string>
		</dict>
		<key>hpgl</key>
		<dict>
			<key>NSIcon</key>
			<string>hpgl.tiff</string>
		</dict>
		<key>ps</key>
		<dict>
			<key>NSIcon</key>
			<string>ps.tiff</string>
		</dict>
	</dict>
	<key>NSMainNibFile</key>
	<string>Main</string>
	<key>NSPrincipalClass</key>
	<string>App</string>
</dict>
</plist>
