/* metrics of sinkings [mm]
 *
 * key  =  nominal diameter
 * data = see Documentation/SinkingMetrics.cenon
 *        st = step size to cut head
 */
{
    medium =
    (
        { name="M2";   d1= 2.4; d2= 4.6; t1=1.1; st=0.1; },
        { name="M2.5"; d1= 2.9; d2= 5.7; t1=1.4; st=0.1; },
        { name="M3";   d1= 3.4; d2= 6.5; t1=1.6; st=0.1; },
        { name="M3.5"; d1= 3.9; d2= 7.6; t1=1.9; st=0.1; },
        { name="M4";   d1= 4.5; d2= 8.6; t1=2.1; st=0.1; },
        { name="M5";   d1= 5.5; d2=10.4; t1=2.5; st=0.1; },
        { name="M6";   d1= 6.6; d2=12.4; t1=2.9; st=0.1; },
        { name="M8";   d1= 9.0; d2=16.4; t1=3.7; st=0.1; },
        { name="M10";  d1=11.0; d2=20.4; t1=4.7; st=0.2; },
        { name="M12";  d1=13.5; d2=24.4; t1=5.2; st=0.2; },
        { name="M14";  d1=15.5; d2=27.4; t1=5.7; st=0.2; },
        { name="M16";  d1=17.5; d2=32.4; t1=7.2; st=0.2; },
        { name="M18";  d1=20.0; d2=36.4; t1=8.2; st=0.2; },
        { name="M20";  d1=22.0; d2=40.4; t1=9.2; st=0.2; }
    );
    fine =
    (
        { name="M2";    d1=2.2; d2= 4.3; t1=1.2; t2=0.15; st=0.1; },
        { name="M2.5";  d1=2.7; d2= 5.0; t1=1.5; t2=0.35; st=0.1; },
        { name="M3";    d1=3.2; d2= 6.0; t1=1.7; t2=0.25; st=0.1; },
        { name="M3.5";  d1=3.7; d2= 7.0; t1=2.0; t2=0.30; st=0.1; },
        { name="M4";    d1=4.3; d2= 8.0; t1=2.2; t2=0.30; st=0.1; },
        { name="M5";    d1=5.3; d2=10.0; t1=2.6; t2=0.20; st=0.1; },
        { name="M6";    d1=6.4; d2=11.5; t1=3.0; t2=0.45; st=0.1; },
        { name="M8";    d1=8.4; d2=15.0; t1=4.0; t2=0.70; st=0.1; },
        { name="M10";  d1=10.5; d2=19.0; t1=5.0; t2=0.70; st=0.2; },
        { name="M12";  d1=13.0; d2=23.0; t1=5.7; t2=0.70; st=0.2; },
        { name="M14";  d1=15.0; d2=26.0; t1=6.2; t2=0.70; st=0.2; },
        { name="M16";  d1=17.0; d2=30.0; t1=7.7; t2=1.20; st=0.2; },
        { name="M18";  d1=19.0; d2=34.0; t1=8.7; t2=1.20; st=0.2; },
        { name="M20";  d1=21.0; d2=37.0; t1=9.7; t2=1.70; st=0.2; }
    );
}
