<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pxi</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PixenDoc</string>
			<key>CFBundleTypeName</key>
			<string>Pixen Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PXIm</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>PXDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jpg</string>
				<string>jpeg</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>JPEG Graphic</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>PXDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bmp</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Windows Bitmap (BMP)</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>PXDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pict</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Apple PICT Graphic</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>PXDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>eps</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Encapsulated PostScript (EPS)</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>PXDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>png</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Portable Network Graphic (PNG)</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>PXDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gif</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Compuserve Graphic (GIF)</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>PXDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tiff</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Tagged Image File Format (TIFF)</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>PXDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>lif</string>
				<string>life</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Game of Life File (LIF)</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>PXDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Pixen</string>
	<key>CFBundleGetInfoString</key>
	<string>A pixel art program</string>
	<key>CFBundleIconFile</key>
	<string>Pixen</string>
	<key>CFBundleIdentifier</key>
	<string>org.opensword.pixen</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Pixen</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>r2v4</string>
	<key>CFBundleSignature</key>
	<string>PiXn</string>
	<key>CFBundleVersion</key>
	<string>r2v4</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.3</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
